/* Reset CSS */
:root {
    --front-color: rgb(82, 82, 82);
    --background-color: color(srgb 0.976471 0.964706 0.933333);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 10px */
    font-size: 62.5%;
    color: #000;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 1px;
}

.container {
    max-width: 1442px;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    color: var(--front-color);
}