.modal-section {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #F0F0F0;

    /* opacity: 0;
    z-index: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(0.95); */

    display: none;
}

.modal-section.show-effect {
    /* opacity: 1;
    z-index: 1;
    pointer-events: auto;
    transform: scale(1); */
    display: block;
}

.modal-content img {
    object-fit: contain;
}

.close-modal {
    position: absolute;
    background-color: white;
    text-align: center;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
    z-index: 30;

    transition: transform 0.3s ease;
}

.close-modal:hover {
    transform: rotate(90deg);
}

.swiperModal {
    width: 100%;
    height: 100vh;
}

.swiper-slide img {
    height: 100%;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: #955c44;
}

.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 999px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 132px;
    height: 46px;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 20;
}

.custom-pagination .arrow {
    cursor: pointer;
    padding: 0 12px;
    user-select: none;
    color: #222;
    transition: color 0.2s;
}

.custom-pagination .arrow:hover {
    color: #955c44;
}

.custom-pagination .page-info {
    margin: 0 8px;
}